<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<title>This is about page</title>
</head>

<body>
	<section class="host d-flex justify-content-center">

		<div class="container mt-2 text-center">

			<h1 style="color: blue;">About us</h1>
			<h3 class="mt-6 text-center">What is contact management
				software?</h3>
			<p>Contact management software can keep information about your
				prospects and current customers organized in a searchable format.
				The software can handle basic information, such as names, phone
				numbers and email addresses. It can also track fundamental
				interactions between the company and the contact, and keep track of
				important calendar events.The history of contact management
				stretches back to Rolodex and Filofax systems, developing into
				desktop-based standalone software and email clients with built-in
				contact management functionality. Despite these significant
				technical advances, many businesses find that their contact
				management systems fundamentally amount to little more than a simple
				database containing names, phone numbers and notes. In recent years,
				the categories of sales management and contact management software
				have grown closer together, as enterprises increasingly realise that
				a more unified system, capable of capturing a wider range of
				business data, is key. By combining the tracking of contacts, their
				engagements with your business, the products they buy, the ones they
				don’t and the challenges they face, you can create one, single
				unified view of the customer. That’s vital data not only for a
				successful sales team, but also in the delivery of excellent
				customer service.Contact management software can keep information
				about your prospects and current customers organized in a searchable
				format. The software can handle basic information, such as names,
				phone numbers and email addresses. It can also track fundamental
				interactions between the company and the contact, and keep track of
				important calendar events.The history of contact management
				stretches back to Rolodex and Filofax systems, developing into
				desktop-based standalone software and email clients with built-in
				contact management functionality.It can also track fundamental
				interactions between the company and the contact, and keep track of
				important calendar events.The history of contact management
				stretches back to Rolodex and Filofax systems, developing into
				desktop-based standalone software and email clients with built-in
				contact management functionality</p>


			<div class="text-center">

				<a class="btn btn-outline-info" type="button" href="#"
					th:href="@{'/'}">Back</a>
			</div>

		</div>



	</section>
</body>

</html>